---
name: Install

on:
  workflow_call:

jobs:
  install:
    name: Installation (smoke-test)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.x"

      - name: Install system prerequisites
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends \
            rofi xclip

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Run installer script
        run: python install.py

      - name: Install PRofi package
        run: pip install .

      - name: Smoke-test CLI
        run: profi --help
