---
name: Install

on:
  workflow_call:

jobs:
  install:
    name: Installation (smoke-test)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.x"

      - name: Install system prerequisites
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends \
            rofi xclip

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Run installer script
        run: python install.py

      - name: Install PRofi package
        run: pip install .

      - name: Smoke-test CLI
        run: profi --help
