---
name: CI

on:
  schedule:
    # Run every Sunday at 1 AM UTC
    - cron: "0 1 * * 0"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.x"

      - name: Install test dependencies
        run: pip3 install -r requirements.txt

      - name: Run yamllint
        run: |
          yamllint src/profi/templates

  test:
    name: Pytest
    uses: ./.github/workflows/_pytest.yml

  install:
    name: Install
    uses: ./.github/workflows/_install.yml
