---
name: CI
"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.x"

      - name: Install test dependencies
        run: pip3 install -r requirements.txt

      - name: Run yamllint
        run: |
          yamllint src/profi/templates

  test:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.x"

      - name: Install test dependencies
        run: pip3 install -r requirements.txt

      - name: Run pytest
        run: pytest --color=yes tests/

  install:
    name: Installation (smoke-test)
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.x'

      - name: Install system prerequisites
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends \
            rofi php-cli xclip

      - name: Install esh from source
        run: |
          git clone --depth 1 https://github.com/jirutka/esh.git /tmp/esh
          sudo make -C /tmp/esh install-exec
          esh -V

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Run installer script
        run: python install.py

      - name: Install PRofi package
        run: pip install .

      - name: Smoke-test CLI
        run: profi --help
