---
name: CI

on:
  schedule:
    # Run every Sunday at 1 AM UTC
    - cron: "0 1 * * 0"
  workflow_dispatch:

jobs:
  nix-flake-update:
    name: Nix Flake Update
    if: github.event_name == 'schedule'
    uses: ./.github/workflows/_nix-flake-update.yml

  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml
    needs: nix-flake-update
    if: always() && !cancelled()

  pytest:
    name: Pytest
    uses: ./.github/workflows/_pytest.yml
    needs: lint

  install:
    name: Install
    uses: ./.github/workflows/_install.yml
    needs: pytest
