---
name: CI

on:
  schedule:
    # Run every Sunday at 1 AM UTC
    - cron: "0 1 * * 0"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  pytest:
    name: Pytest
    uses: ./.github/workflows/_pytest.yml
    needs: lint

  install:
    name: Install
    uses: ./.github/workflows/_install.yml
    needs: pytest
