---
name: Nix Flake Update

on:
  schedule:
    # Run every Sunday at 1 AM UTC
    - cron: "0 1 * * 0"
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  nix-flake-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: DeterminateSystems/determinate-nix-action@762d7fdba79d046449732c729c1d3aaad021baa2 # v3
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Update Nix flake inputs"
          pr-assignees: Cserny
          pr-reviewers: Cserny
          pr-labels: |
            dependencies
            automated
