---
name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  pytest:
    name: Pytest
    uses: ./.github/workflows/_pytest.yml

  install:
    name: Install
    uses: ./.github/workflows/_install.yml
